.img img{
    padding: 20px;
    width: 200px;
    height: 400px;
    
}
.img1 img1{
    padding: 2px;
    width: 20px;
    height: 40px;
    position: relative;
}
/* .img2 a i{
    width: 10px;
  height: 10px;
  
} */
